<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlsoft.dao.TvDatasourceMapper">
  <resultMap id="BaseResultMap" type="com.zlsoft.model.entity.TvDatasource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="data_name" jdbcType="VARCHAR" property="dataName" />
    <result column="ward_id" jdbcType="VARCHAR" property="wardId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="item_id" jdbcType="VARCHAR" property="itemId" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="where_str" jdbcType="VARCHAR" property="whereStr" />
    <result column="query_sql" jdbcType="VARCHAR" property="querySql" />
    <result column="count_value" jdbcType="INTEGER" property="countValue" />
    <result column="list_field" jdbcType="VARCHAR" property="listField" />
    <result column="convert" jdbcType="INTEGER" property="convert" />
    <result column="list_value" jdbcType="VARCHAR" property="listValue" />
  </resultMap>
</mapper>