<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlsoft.dao.TvDatasourceDataMapper">
  <resultMap id="BaseResultMap" type="com.zlsoft.model.entity.TvDatasourceData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="data_name" jdbcType="VARCHAR" property="dataName" />
    <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation" />
    <result column="ward_id" jdbcType="VARCHAR" property="wardId" />
    <result column="count_value" jdbcType="INTEGER" property="countValue" />
    <result column="list_value" jdbcType="VARCHAR" property="listValue" />
  </resultMap>
    <insert id="insertByMap">
      insert into tv_datasource_data(ward_id,count_value,list_value,data_name,abbreviation)
      values
      <foreach collection="list" index="index" item="m" separator=",">
        (
          #{m.ward_id},#{m.count_value},#{m.list_value},#{m.data_name},#{m.abbreviation}
        )
      </foreach>
    </insert>
</mapper>