<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlsoft.dao.TvPageDetailMapper">
  <resultMap id="BaseResultMap" type="com.zlsoft.model.entity.TvPageDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="page_id" jdbcType="INTEGER" property="pageId" />
    <result column="panel_id" jdbcType="INTEGER" property="panelId" />
    <result column="format_id" jdbcType="INTEGER" property="formatId" />
    <result column="caption_style" jdbcType="VARCHAR" property="captionStyle" />
    <result column="value_style" jdbcType="VARCHAR" property="valueStyle" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="show_level" jdbcType="INTEGER" property="showLevel" />
  </resultMap>
    <select id="getPageDeTail" resultType="java.util.Map">
    SELECT
      a.id,
      a.page_id,
      a.panel_id,
      a.format_id,
      REPLACE(REPLACE(a.caption_style,'{name}',b.data_name),'{value}',b.count_value) AS caption_style,
      REPLACE(a.value_style,'{value}',b.list_value) AS value_style,
      a.order_id,
      a.show_level
    FROM
      tv_page_detail AS a ,
      tv_datasource_data AS b
    WHERE
      a.format_id = b.format_id

      AND a.page_id = #{pageId}


      AND b.ward_id = #{wardId}


      AND a.panel_id = #{panelId}

    ORDER BY a.order_id
    </select>
  <select id="selectMedicalByPatientIdAndIndexId" resultType="java.util.Map">
    SELECT
    IFNULL(a.group_no,0) group_no,
    IFNULL(a.row_no,0) row_no,
    IFNULL(CASE a.effect_period WHEN 0 THEN '长期' ELSE '临时' END,"") AS effect_period,
    IFNULL(a.item_name,"") AS content,
    IFNULL(CONCAT(a.single_dose,IFNULL(a.dose_unit,'')),"") AS dosage,
    IFNULL(a.frequency,"") AS frequency,
    IFNULL(b.item_name,"") AS usage_name
    FROM medical_order a LEFT JOIN medical_order b ON b.group_no IS NULL AND a.group_no=b.order_id
      WHERE a.patient_id=#{patientId} AND a.index_id=#{indexId} AND NOT EXISTS (SELECT 1 FROM medical_order c WHERE a.order_id=c.group_no)
      <if test="effectPeriod == 0">
        AND a.effect_period = #{effectPeriod}
      </if>
      <if test="effectPeriod == 1">
        AND a.effect_period != 0
      </if>
    ORDER BY a.effect_period,a.group_no,a.row_no
  </select>
    <select id="getNursingGrade" resultType="java.lang.String">
      SELECT label_content FROM nursing_label WHERE patiend_id=#{patiendId} AND index_id=#{indexId}
    </select>
    <select id="getTaskOrderInfo" resultType="java.util.Map">
      SELECT task_category,date_format(task_time,'%h:%i:%s') as task_time,bed_no,task_name FROM task_order WHERE ward_id=#{wardId} AND state &lt;&gt; 11 AND to_days(remind_time) = to_days(now())
    </select>
</mapper>