<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlsoft.dao.TvPageDetailMapper">
  <resultMap id="BaseResultMap" type="com.zlsoft.model.entity.TvPageDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="page_id" jdbcType="INTEGER" property="pageId" />
    <result column="panel_id" jdbcType="INTEGER" property="panelId" />
    <result column="data_id" jdbcType="INTEGER" property="dataId" />
    <result column="caption_style" jdbcType="VARCHAR" property="captionStyle" />
    <result column="value_style" jdbcType="VARCHAR" property="valueStyle" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
  </resultMap>
</mapper>